<?php
    /**
     * @var \Redbox\ProductLabels\Block\Label $block
     */
?>

<div class="badge <?= $block->getBadgeClass() ?>"
     style="<?= $block->getLabelStyle() ?>"
>
    <?php if ($block->getLabelType() == 'custom_image'): ?>
        <img src="<?= $block->getImageUrl() ?>" />
    <?php else: ?>
        <span>
            <?= $block->getLabelText() ?>
        </span>
    <?php endif; ?>
</div>