<?php
    /**
     * @var \Redbox\ProductLabels\Block\OptionsLabel $block
     */
?>
<div class="more-options" id="more-options">
    <span class="more-options-label">
        <?php echo $block->getOptionsLabel(); ?>
    </span>
</div>