// /**
//  * Copyright © 2016 Redbox Digital
//  */

@sale_color: #343334;
@new_color: #f57619;
@font_color: #fff;

.badge {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    &.sale,
    &.new,
    &.custom {
        font-size: 3vw;
        padding: 6px 12px;
        font-weight: 100;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &.sale,
    &.new {
        background-color: @sale_color;
        color: @font_color;
    }
    &.new {
        background-color: @new_color;
    }
    &.image {
        max-width: 50%;
    }
}
.product-item {
    .product-item-info {
        position: relative;
        a.product {
            text-decoration: none;
        }
    }
}
.product.media {
    position: relative;
    .badge {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

@media only screen and (min-width:@screen__xs) and (max-width: @screen__m)  {
    .badge {
        &.sale,
        &.new,
        &.custom {
            font-size: 2vw;
            padding: 8px 16px;
        }
    }
} 

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .badge {
        top: 20px;
        right: 20px;
        &.sale,
        &.new,
        &.custom {
            font-size: 1.3rem;
            padding: 8px 16px;
        }
        &.image {
            max-width: 40%;
        }
    }
    .product.media {
        position: relative;
        .badge {
            position: absolute;
            top: 0;
            &.sale,
            &.new,
            &.custom {
                font-size: 1.6rem;
            }
        }
    }
}